@font-face {
    font-family: "heading";
    src: url("../assets/fonts/heading.otf");
}

@font-face {
    font-family: "main";
    src: url("../assets/fonts/main.ttf");
}

body {
    background-color: white;
    font-family: 'main';
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'heading';
}

/**

Header

 */

header {
    color: #fff;
    margin-bottom: 100px;
}

header .header-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 75px;
    padding: 5px;
    box-shadow: 0px 0px 20px -10px #561642;
    background-color: #fff;
    z-index: 100000;
}

header .header-menu nav {
    height: 100%;
}

header .header-menu nav ul {
    vertical-align: middle;
    width: 100%;
    height: 100%;
    padding: 0px 50px;
    margin: 0;
}

header .header-menu nav li {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    padding: 0px 10px;
    margin: 0;
    line-height: 75px;
}


header .header-menu nav a {
    color: #561642;
    font-size: 1em;
    text-decoration: none;
    transition: 0.15s color ease-in-out;
}

header .header-menu nav a:hover, header .header-menu nav a:active, header .header-menu nav a:focus {
    color: #561742;
    transition: 0.15s color ease-in-out;
}


header .header-menu img {
    width: 190px;
    height: auto;
}

header .header-menu form {
    display: inline-block;
}

header .header-menu button.logout-btn {
    background: none;
    outline: none;
    border: 0;
}

header .header-menu form input[type="text"] {
    background: none;
    border: 0;
    outline: 0;
    border-bottom: 1px solid white;
    text-align: center;
    color: #fff;

}

.page-title {
    text-align: center;
    line-height: 75px;
    color: #000;
}



/* Mobile bar */

header .mobile-bar {
    display: none;
    float: left;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 75px;
    padding: 0px 25px;
    box-shadow: 0px 0px 20px -10px #561642;
    background-color: #fff;
    z-index: 100000;
}

header .mobile-bar ul {
    height: 100%;
    line-height: 75px;
}

header .mobile-bar ul li {
    display: inline-block;
    padding: 0px 10px;
    list-style-type: none;
}

header .mobile-bar ul li a {
    color: #c51367;
    font-size: 2.5em;
}


.close-menu {
    transform: translateY(-3000px);
    transition: 0.5s all ease-in-out;
}


header .mobile-bar .popup-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #561742;
    transition: 0.5s all ease-in-out;
}


header .mobile-bar .popup-menu ul {
    display: block;
    margin: 0px 0px 0px 50px;
    margin-top: 450px;
    text-align: center;
    height: 100%;
    width: 100px;
    padding: 0;
    line-height: 100px;
}

header .mobile-bar .popup-menu ul li {
    text-align: center;
    display: inline-block;
    padding: 0px 0px;
    list-style-type: none;
}

header .mobile-bar .popup-menu ul li a {
    color: #fff;
    font-size: 5em;
}

header .mobile-bar .popup-menu button.close-toggle {
    font-size: 130px;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
}


/**

Category bar

 */


.cat-bar {
    display: block;
    margin: 0px auto;
    margin-top: 50px;
    text-align: center;
    background: #fff;
}

.cat-bar a {
    margin: 0px 10px;
    height: 100%;
    font-size: 1.2em;
    color: #00b6ed;
    text-decoration: none;
    transition: 0.1s all;
}

.cat-bar a:hover {
    transition: 0.1s all;
    color: #f7c400;
    border-bottom: 1px solid #f7c400;
}

/**

Control window

 */

.control-window {
    padding: 50px 0px;
    box-shadow: 0px 0px 5px -2px #000;
    border-radius: 50px;
}

.control-window h1,
.control-window h2,
.control-window h3,
.control-window h4,
.control-window h5 {
    margin: 0;
    padding: 0;
}


.control-window .activity-display {
    float: left;
    display: inline-block;
    padding: 25px 25px;
}

.control-window .activity-toolbar {
    float: right;
    display: inline-block;
    padding: 25px 100px;
}

/** Activity controls **/
.control-window .activity-actions {
    border: 1px solid #000;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 25px;
}

.control-window .activity-actions button {
    width: 50%;
    margin: 5px 0px;
}

/** Activity selection **/
.activity-selection {
    height: 500px;
    padding: 0;
    border: 1px solid #000;
    border-radius: 25px;
    overflow-x: scroll;
}

.activity-selection .activity-select {
    border-bottom: 1px solid #a5a6a7;
    height: 50px;
    padding: 0px 25px;
}

.activity-selection .activity-select:hover {
    cursor: pointer;
}

.activity-selection .activity-select h5 {
    display: block;
    float: left;
    line-height: 50px;
    color: #202428;
}

.activity-selection .activity-select span {
    display: block;
    color: #80858a;
    float: right;
    line-height: 50px;
}

.selected {
    box-shadow: 0px 0px 10px 0px #a0a0a0;
}

.activity-member-select h5,
.activity-member-select span {
    color: #202428;
}

/** Member selection **/
.control-window .activity-members {
    margin: 25px 0px 0px 0px;
}

.control-window .activity-member-selection {
    height: 257.5px;
    padding: 0;
    border: 1px solid black;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    overflow-y: scroll;
}

.control-window .activity-member-select {
    height: 50px;
    padding: 0;
    border: 1px solid #a5a6a7;
}

/* TO DO page */

.todo-selection {
    height: 500px;
    padding: 0;
    border: 1px solid #000;
    overflow-x: scroll;
}

.todo-select {
    border-bottom: 1px solid #000;
    height: 50px;
    padding: 0px 25px;
}

.todo-selection .todo-select:hover {
    cursor: pointer;
}

.todo-selection .todo-select h5 {
    display: block;
    float: left;
    line-height: 50px;
    color: #202428;
}

.todo-selection .todo-select span {
    display: block;
    color: #80858a;
    float: right;
    line-height: 50px;
}

.todo-description {
    height: 257.5px;
    padding: 25px;
    border: 1px solid black;
    overflow-y: scroll;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

/**

Login page

 */

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 600px;
    margin: 200px auto;
    padding: 45px;
    border-radius: 50px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form input[type="checkbox"] {
    width: auto;
    display: inline-block;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #c51367;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
}

.form button:hover, .form button:active, .form button:focus {
    background: #561742;
}

.registration-message, .login-message {
    color: red;
}

.form .form-message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .form-message a {
    color: #4CAF50;
    text-decoration: none;
}

.form .form-message a:hover {
    cursor: pointer;
}

.form form.login-form {
    display: block;
}

.form form.register-form {
    display: none;
}

/**

Admin page

 */

.table {
    margin: 1rem 0;
}

.admin-statistics {
    margin-bottom: 100px;
}

.admin-statistics .statistics-col {
    padding: 25px;
}

.admin-statistics .statistics-col .statistics-container {
    padding: 25px;
    border: 2px solid #c51367;
    border-radius: 25px;
    box-shadow: 0px 0px 20px -10px #c51367;
}

.admin-statistics .statistics-col .statistics-container h2 {
    font-size: 2.25em;

    font-weight: bold;
}

.admin-statistics .statistics-col .statistics-container .statistics-result {
    font-size: 1.5em;
    font-weight: bold;
}

.admin-statistics .statistics-col .statistics-container .statistics-price::before {
    content: '€';
}

/**
Form fields
 */

.form-window {
    padding: 50px 25px;
    box-shadow: 0px 0px 5px -2px #000;
    border-radius: 50px;
}

/**

Footer

 */

footer {
    margin-top: 150px;
}

footer span.footer-copyright {
    display: block;
    float: left;
    width: 100%;
    text-align: center;
    font-size: 1em;
    color: #fff;
    background: #561742;
}
